:root{
    --primary_color:#3B185E;
    --secondary_color:#663A99;
    --tertiary_color:#B297D1;
    --button_color:#614080;
    --background_color:#B297D1;
    --white_color:#fff;
    --black_color:#030303;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
main{
    background-color: var(--background_color);
}
/* top banner css start*/
.container{
    width:1200px;  
    padding: 50px 50px 0 50px;
    margin:0 auto ;
    
    
}

.top-banner{
   
    height: 70vh;
    background-color: var(--primary_color);
    display: flex;
    border-radius: 13px;
   
}
.top-banner .content{
    width: 50%;
    padding: 80px 24px 80px 106px;
    color:var(--white_color);
}
.heading{
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
    font-family: 'Montserrat', sans-serif;
}
.description{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
.top-btn{
    padding: 15px 25px;
    background-color: var(--button_color);    
    border: none;
    border-radius: 7px;
    display: inline-block;
    margin-top: 20px;
}
.top-btn a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--white_color);
}
.fa-arrow-right{
    font-size: 14px;
    color: var(--white_color);
    padding-left: 10px;
}

.banner-img{
    width: 50%;
}
.banner-img img{
    width: 85%;
    padding-left: 80px;
    padding-top: 33px;
    
}
/* top banner css end*/

.match-info{
    display:flex;
    padding: 20px;
}
.upcoming-part{
    width: 20%;
    height: 33vh; 
    background-color: var(--primary_color);
    margin-right: 15px; 
    padding-top: 18px; 
    border-radius: 7px; 
}
.upcoming{
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.upcoming-btn, .group-btn, .blog-btn{
    padding: 15px 20px;
    background-color: var(--white_color);
    border-radius: 7px;
    border:none;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}
.upcoming-btn a, .group-btn a{
    text-decoration: none;
    color:var(--black_color)
}
.blog-btn{
    background-color: var(--button_color);
}
.blog-btn a{
    color: var(--white_color);
    background-color: var(--button_color);
    text-decoration: none;
}
.details{
    padding: 10px;
}
.gallery-part{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
  
}
.single-card{
    box-shadow: 1px 1px 1px #bd9ee0;
    border-radius: 5px;
    
}
.images img{
    width:100%;
}
.transfer{
    padding: 3px 8px;
    border:1px solid var(--black_color);
    border-radius: 5px;
   
}
.details .description{
    font-size: 16px;
    color: var(--primary_color);
    padding:10px 0;
}
.chating-timer{
    display: flex;
    gap:25px;
}
.fa-clock, .fa-comment-dots{
    padding: 5px;
    color: var(--secondary_color)
}
span{
    color: var(--primary_color);
}
/* footer css start */
footer{
    background-color: var(--black_color);
    color: var(--white_color);    
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.goal h3{
    font-size: 30px;
    font-weight: 700;
   
}
.horizontal-line{
    width: 80%;
    margin: 20px auto ;
    border-color: #333;

}
.contact{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}